@import "reset";
@import "mixins";
@import "fonts";
@import "bootstrap";
@import "~material-design-lite/src/typography/_typography.scss";
@import "flex";
@import "cursor";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 2rem;
    //background-color: #f0f0f0;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

pre {
    white-space: pre-wrap;
}
