
.cups-viewer {
    position: relative;
    transition: background 0.5s;

    &__scene {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 0;

        &--appear {
            animation: scene-animation-appear 1s;
        }
    }

    &__progress {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes scene-animation-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
