@import "../../styles/mixins";

.lp-promo {
    position: relative;
    user-select: none;
    background: url('../../images/grey_wash_wall.png') repeat;

    &__cup-view {
        height: 100%;
    }

    &__controls {
        position: absolute !important;
        width: 100%;
        top: 0;
        bottom: 0;
    }

        &__loader {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 50%;
            top: 50%;
            margin-top: -50px;
            margin-bottom: -50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__chevron {
            position: absolute;
            top: 50%;
            width: 48px;
            height: 48px;
            margin-top: -24px;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 24px;
            border: none;
            padding: 0;
            outline: none;
            transition: background 0.5s;
            cursor: pointer;

            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }

            svg {
                width: 32px !important;
                height: 32px !important;
            }

            &--left {
                left: 15px;
            }

            &--right {
                right: 15px;
            }
        }

        &__info {
            padding-top: 2rem;

            @include respond-to(lg) {
                padding-top: 100px;
            }

            @include respond-to(xs) {
                padding-top: 0.5rem;
            }
        }

        &__text {
            padding: 1rem;
            line-height: 2.5rem;
            font-size: 1.5rem;
            color: white;
            background: rgba(0, 0, 0, 0.4);
            text-align: center;
            margin-bottom: 2rem;
            font-weight: 300;

            @include respond-to(xs) {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }

        &__button {
            padding: 1rem;
            border: 3px solid #f57c00;
            background-color: #f57c00;
            color: white;
            transition: background-color 0.5s;
            cursor: pointer;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 300;

            &:hover {
                background-color: transparent;
            }

            @include respond-to(xs) {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                line-height: 1.4rem;
                padding: 4px;
            }
        }

        &__cup-detail-btn {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            margin-top: -12px;
        }
}
