
.ma-select {

}

.ma-select__dropzone {
    width: 100%;
    height: auto;
    padding: 1rem;
    border: 1px dashed #ddd;
}

.ma-attachment {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.ma-attachment__name {
    flex-grow: 1;
}

.ma-attachment__remove {
    flex-grow: 0;
    cursor: pointer;
    height: 24px;
}
