@import "../../styles/variables";
@import "../../styles/mixins";

.layout {
    position: relative;

    &__header {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 100;
    }

    &__body {
        padding-top: $header-bar-height-sm;
        @include respond-to(md-lg) {
            padding-top: $header-bar-height;
        }
    }
}
