@import "../../styles/mixins";


.gallery {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media screen and (min-width: 1620px){
        width: 1600px !important;
    }
}

.gallery-image {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.gallery-image-overlay {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);

        .gallery-image-overlay__text {
            transform: translateY(0);
        }
    }
}

.gallery-image-overlay__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 1rem;
    line-height: 1.2rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    transform: translateY(100%);
    transition: all 0.2s;
    overflow: hidden;
}
