@import "../../styles/mixins";

.landing-page {
    flex-grow: 1;

    &__promo {
        height: 550px;
    }

    &__body {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    &__buy-btn {
        position: fixed;
        right: 1.5rem;
        bottom: 1.5rem;

        @include respond-to(sm-lg) {
            right: 3rem;
            bottom: 3rem;
        }
    }
}

.lp-ad {
    background-color: #F0F0F0;

    &__header {
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
        //border-bottom: 1px solid #ccc;
    }

    &__column {
        display: flex;
        margin-bottom: 1rem;
    }

    &__icon {
        flex-grow: 0;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            border: 2px solid #f57c00;
            color: #f57c00;
            font-weight: bold;
            border-radius: 19px;
        }
    }

    &__text {
        flex-grow: 1;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }
}
