@import "../../styles/variables";
@import "../../styles/mixins";

.cup-detail {
    position: relative;
    width: 100%;
    height: calc(100vh - #{$header-bar-height-sm});

    @include respond-to(md-lg) {
        height: calc(100vh - #{$header-bar-height});
    }

    overflow: hidden;
    background: url('../../images/grey_wash_wall.png') repeat;

    &__view {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__loader {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
