@import "../../styles/variables";
@import "../../styles/mixins";

.header-bar {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    transition: color 1s;
    z-index: 2;
    height: $header-bar-height-sm;

    @include respond-to(md-lg) {
        height: $header-bar-height;
    }

    @include respond-to(sm-lg) {
        padding-left: 16px;
        padding-right: 16px;
    }

    &__brand {
        font-size: 1rem;
        padding: 8px 8px 8px 3rem;
        border-radius: 4px;
        position: relative;
        text-decoration: none;
        color: white;
        background-color: $color-pink-400;
        transition: background-color 0.3s;

        &:hover {
            background-color: lighten($color-pink-400, 5%);
        }

        @include respond-to(md-lg) {
            line-height: 2.5rem;
            font-size: 1.5rem;
            padding-left: 4rem;
        }
    }

    &__brand-christmas{
        position: absolute;
        left: -6px;
        top: -4px;
        width: 50px;
        height: 50px;
        background: url('../../images/cat_logo.png');
        background-size: cover;

        @include retina {
            background: url('../../images/cat_logo_2x.png');
            background-size: cover;
        }

        @include respond-to(md-lg) {
            left: -12px;
            top: -10px;
            width: 70px;
            height: 70px;
        }
    }
}

.header-bar-social {
    display: flex;
    padding-right: 1rem;

    //@include respond-to(md-lg) {
    //    padding-right: 100px;
    //}

    &__item {
        padding-right: 0.5rem;
        cursor: pointer;
        height: 24px;

        svg {
            width: 24px;
            height: 24px;
        }

        @include respond-to(md-lg) {
            height: 32px;
            padding-right: 1rem;
            svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.header-bar-menu {
    display: flex;
    padding: 0 1rem;
    align-items: stretch;
    align-self: stretch;

    @include respond-to(md-lg) {
        padding: 0 2rem;
    }

   &__item {
       display: flex;
       align-items: center;
       text-decoration: none;
       transition: background 0.5s;
       padding: 0 1rem;
       font-size: 1.2rem;
       color: $color-pink-400;

       @include respond-to(md-lg) {
           font-size: 1.5rem;
       }

       &:hover {
           background: rgba(0, 0, 0, 0.1);
       }

       &.active {
           background-color: $color-pink-400;
           color: white;
       }
   }
}
